*.DS_Store

# Consul directory
consul/data/
consul/config/certs/
consul/config/encrypt.key

# Vault directory
main-vault/certs/
main-vault/config/policies/
main-vault/file/
main-vault/logs/

# All .env files
**/*.env



